# Split
* It converts the string to a list based on the split chatcters and if not provided default is space

In [10]:
my_str = 'My*name*is*python*and*is*love*cooding'
print(my_str.split('*'))

['My', 'name', 'is', 'python', 'and', 'is', 'love', 'cooding']

# Join 
* Its the reverse of split()

In [18]:
lst = ['My', 'name', 'is', 'python', 'and', 'is', 'love', 'cooding']

# the value we want in between the list.join(variable)
'---->'.join(lst)

'My---->name---->is---->python---->and---->is---->love---->cooding'

# List 

- Any value which are written in a square brackets and seperated by commas

In [20]:
a = [1,2,3,4]
print(type(a))

<class 'list'>

In [21]:
len(a)

4

In [22]:
# Creatin of lists
#1 st method is that you know the elements 
lst_1 = ['banana' , 'apple', 'grapes']
lst_1

['banana', 'apple', 'grapes']

In [27]:
# 2nd method is by taking the user input\
lst_2 = eval(input('Please enter the lst  :'))
print(lst_2, type(lst_2))

Please enter the lst  :[1,2,3,4]
[1, 2, 3, 4] <class 'list'>

In [32]:
# 3rd method type casting
a = 'abcd'
c = (1,2,3,4)
b = list(a)
print(list(a))
print(list(c))
print(type(b))

['a', 'b', 'c', 'd']
[1, 2, 3, 4]
<class 'list'>

In [33]:
# 4th method split
my_str = 'My name is python and is love cooding'
print(my_str.split(' '))

['My', 'name', 'is', 'python', 'and', 'is', 'love', 'cooding']

In [34]:
# 4th method split
my_str = '1 2 3 4 5 6 7'
print(my_str.split(' '))

['1', '2', '3', '4', '5', '6', '7']

In [35]:
my_str

'1 2 3 4 5 6 7'

In [ ]:
# Properties of list

* Its is a sequence data type
* indexing (accessing one element) and sclicing (accessing multiple elements) is possible
* Supports both +ve and -ve indexing
* mutable
* Allows duplication
* Its is hetrogenous - It can save multiple data types
* Basic operations are - concatination , reption, identity, Membership opereators

In [47]:
# Indexing
a = [1,2,3,4,5,6,7,8,9,6]
a[6]
len(a)
print(a[len(a)-1])

6

In [53]:
# Slicing
a = [1,2,3,4,5,6,7,8,9,10] # Extract [4,5,6]
a[3:6]

[4, 5, 6]

In [57]:
a[1::2]

[2, 4, 6, 8, 10]

In [61]:
# -ve indexing and slicing
a = [1,2,3,4,5,6,7,8,9,10]
a[-1:-11:-2]

[10, 8, 6, 4, 2]

In [62]:
a = [1,2,3,4,5,6,7,8,9,10]
a[-9::2]

[2, 4, 6, 8, 10]

In [63]:
# Allows duplication
lst = [1,1,1,1,1]
lst

[1, 1, 1, 1, 1]

In [64]:
# Mutable - update,add, remove elements from the list

a = [1,2,3,4,5,6,7,8,9,6]
a[1] = 3
print(a)

[1, 3, 3, 4, 5, 6, 7, 8, 9, 6]

In [66]:
# Its is hetrogenous

lst = [1,1.2,'1.2',True,False,[1,2,3],(5,6,4),{9,8,7,8}, 10+6j,None]
lst

[1, 1.2, '1.2', True, False, [1, 2, 3], (5, 6, 4), {7, 8, 9}, (10+6j), None]

# Basic Operations
# Concatination

In [67]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [68]:
# Op ----> +
a = [1,2,3]
b = [4,5,6]
print(a+b)   # [1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

In [72]:
# repetation
a = [1,2,3]
b = 2
print(a*b)   # [1,2,3,1,2,3]

[1, 2, 3, 1, 2, 3]
True

In [71]:
# Membership operators
# in and not in
# Returs in bool
a = ['Israr', 'Aritesh', 'Yamini', 'Kumar', 'Rameshwar', 'Kalyani']
print('israr' in a)

False

In [86]:
# Identity operators
a = [1,2,3]
b = [1,2,3]
print(id(a))
print(id(b))
print(id(a[0]))
print(id(b[0]))

1658771508672
1658724672256
1658637019440
1658637019440

# Nested list 

- list inside a list

In [ ]:
a = [1,2,3,4,5] # List 
b = [1,[5,6,7,],3,4,5] # Nested list

In [91]:
# 1st method
b = [1,[5,6,7,],3,4,5]
z = b[1]
z[2]

7

In [94]:
b = [1,[5,6,7,[9,8,7]],3,4,5]
b[1][3][1]

8

In [100]:
b = [1,[5,6,7,[9,8,['python','datascience']]],3,4,5] # nohtyp
b[1][3][2][0][6::-1]

'nohtyp'