# Tuple

- tupl anythong written inside () and the elements are sep by commas

In [1]:
a = (1,2,3,4)
print(a,type(a))

(1, 2, 3, 4) <class 'tuple'>

# Creating a tuple
1. When you alrady know the elements
2. By taking useer inputs
3. type casting

In [3]:
# 1. When you alrady know the elements
# 3. Type casting
a = (1,2,3,4,5)
b = tuple('str')
print(a, type(a))
print((b) , type(b))

(1, 2, 3, 4, 5) <class 'tuple'>
('s', 't', 'r') <class 'tuple'>

In [5]:
# 2. Taking input
tup = eval(input("Please enter the tuple  : "))
print(tup, type(tup))

Please enter the tuple  : (1,2,3,4,5)
(1, 2, 3, 4, 5) <class 'tuple'>

In [8]:
# 2. Taking input
tup = tuple(input("Please enter the tuple  : "))
print(tup, type(tup))

Please enter the tuple  : 12345
('1', '2', '3', '4', '5') <class 'tuple'>

In [12]:
a = 'python', None,False, 1,1,1.2,1+8j
print(a, type(a))

('python', None, False, 1, 1, 1.2, (1+8j)) <class 'tuple'>

In [ ]:
# Properties of tuple
- Sequence data type
- +ve and -ve is supported
- can hold any data type
- immutable
- allows duplication
- basic op - slicing, indexing, concatination, repetation, Identity, Membership

In [14]:
# Indexing
a = (1,2,3,4,5)
print(a[2])
print(a[-3])

3
3

In [16]:
# Slicing 
a = (1,2,3,4,5)
print(a[2:4])
print(a[-3:-1])
print(a[-2:-4:-1])

(3, 4)
(3, 4)
(4, 3)

In [ ]:
#  can hold any data type

a = 'python', None,False, 1,1,1.2,1+8j
print(a, type(a))

In [17]:
# immutable
a = (1,2,3,4,5)
a[0]= 4

TypeError: 'tuple' object does not support item assignment

In [18]:
# allows duplication
a = 'python', None,False,'python', 1,1,1.2,1+8j
print(a, type(a))

('python', None, False, 'python', 1, 1, 1.2, (1+8j)) <class 'tuple'>

In [19]:
# concatination
a = (1,2,3,4,5)
b = (6,7,8,9,10)
# op +
print(a+b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [20]:
# repetation
# op *
# one value should be int and another a tuple
a = (1,2,3,4,5)
print(a*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [23]:
# Identity
# Op - is and is not
# always return bool 
a = (1,2,3,4,5)
b = (6,7,8,9,10)
print(id(a))
print(id(b))
print( a is not b) # If the ID is same or not

2243648636864
2243648488048
True

In [22]:
a = (1,2,3,4,5)
b = (1,2,3,4,5)
print(id(a))
print(id(b))
print( a is b)

2243648488048
2243620249664
False

In [24]:
a = (1,2,3,4,5)
b = (1,2,3,4,5)
print(id(a[1]))
print(id(b[1]))
print( a is b)

2243532450128
2243532450128
False

In [27]:
# Membership
# op - in and not in 
# always returns the bool values
a = (1,2,3,4,5)
print(1 not in a)

False

In [28]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [31]:
# Count
a = (1,2,3,4,5,6,6,6,6,6,6,6,'str','str')
print(a.count('str'))

2

In [34]:
# Index
# +ve index values as the output
a = (1,2,3,4,5,6,6,6,6,6,6,6,'str','str')

print(a.index('str'))

12

In [36]:
# 
a = (1,2,3,4,5)

print(len(a))

5

In [37]:
# Tuple packing and inpacing

# Tuple packing - assigning mulple values in a single variable
a = 1,2,3,4,5,6
print(a)

(1, 2, 3, 4, 5, 6)

In [50]:
# Tuple unpacking
a,b,c = (1,1,13,),(3,4,5,6),(7,8,9,)
print(a, type(a))
print(b)
print(c)

(1, 1, 13) <class 'tuple'>
(3, 4, 5, 6)
(7, 8, 9)

In [42]:
# Tuple unpacking
a,b,c = (1,2),2,3
print(a, type(a))
print(b)
print(c)

(1, 2) <class 'tuple'>
2
3

In [49]:
a = 1,
print(a, type(a))

(1,) <class 'tuple'>

In [59]:

l = ((1,2,3,4),(1,2,3,4),(1,2,3,4),(4,5,6,7)) 

var = (a,b,c,d)
var = l
print(a,type(a))
print(b)
print(c)
print(d)

print(var, type(var))

(1, 2, 3, 4) <class 'tuple'>
(1, 2, 3, 4)
(1, 2, 3, 4)
(4, 5, 6, 7)
((1, 2, 3, 4), (1, 2, 3, 4), (1, 2, 3, 4), (4, 5, 6, 7)) <class 'tuple'>

# Dictionary

* Key and value
* {}

In [60]:
a = ['israr', 25, 60000]

print(a[-1])

60000

In [61]:
a = ['israr', 25, 25]

print(a[-2])

25

In [ ]:
emp_data = {'age': 25 , "Salary": 25 , "name":'israr'}

# Properties of dic
* It is a collection of key and value pair
* value is also called as item
* Key and value are seperated by (:)
* Key cannot be mutable(Key is immutable)
* Value can be anything(mutable/immutable)
* all the items are into curly brackets and sep by comas
* Its not a seq data type hence no indexing, slicing, concatination, repetation (dup)
* membership op are only possible on keys 
* indentity operators are possible
* Its is mutable

In [69]:
emp_data = {'age': (1,2,3,4) , "Salary": 25 , "name":'israr'}
emp_data

{(1, 2, 3, 4): (1, 2, 3, 4), 'Salary': 25, 'name': 'israr'}

In [ ]:
# How dic are created

In [70]:
# If you already know the values
emp_data = {"emp1":{'age': 25 , "Salary": 25 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 25 , "name":'Purnendu'}}
print(emp_data.keys())

dict_keys(['emp1', 'emp2'])

In [72]:
# Taking the input
data = eval(input('enter the dic  :'))

print(data, type(data))

enter the dic  :{1:2}
{1: 2} <class 'dict'>

In [79]:
# Type casting
a = dict([(1,'a'),[2,'b'],[3,'c'],[4,'e'],[5,'r']])
print(a, type(a))

{1: 'a', 2: 'b', 3: 'c', 4: 'e', 5: 'r'} <class 'dict'>

In [ ]:
# Zip function

synatax zip(iter1,iter2)

In [90]:
a = ['age','salary','name']
b = [25,25000,'israr',45]

dict(zip(a,b))

{'age': 25, 'salary': 25000, 'name': 'israr'}

In [ ]:
 >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

In [ ]:
# It is a collection of key and value pair
# value is also called as item
# Key and value are seperated by (:)


emp_data = {"emp1":{'age': 25 , "Salary": 25 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 25 , "name":'Purnendu'}}

In [107]:
# Key is immutable

emp_data = {8+6j:{'age': 25 , "Salary": 25 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 25 , "name":'Purnendu'}}


emp_data

{(8+6j): {'age': 25, 'Salary': 25, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 25, 'name': 'Purnendu'}}

In [99]:
# Key cannot be duplicated whereas value can be
emp_data = {"emp1":{'age': 25 , "Salary": 25 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 25 , "name":'Purnendu'}}


emp_data

{'emp1': {'age': 25, 'Salary': 25, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 25, 'name': 'Purnendu'}}

In [102]:
emp_data = {"emp1":{'age': 56 , "Salary": 25 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 25 , "name":'amitesh'},
            'emp3':{'age': 25 , "Salary": 25 , "name":'amitesh'}}
emp_data

{'emp1': {'age': 56, 'Salary': 25, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 25, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 25, 'name': 'amitesh'}}

Keys can be
* int 
* float
* string
* tuple
* Bool
* None
* Complex

Values can be anything

In [116]:
# Its not a seq data type hence no indexing, slicing, concatination, repetation (dup)

emp_data = {"emp1":{'age': 56 , "Salary": 25 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 25 , "name":'amitesh'},
            'emp3':{'age': 25 , "Salary": 25 , "name":'amitesh'}}

emp_data1 = {"emp1":{'age': 56 , "Salary": 25 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 25 , "name":'amitesh'},
            'emp3':{'age': 25 , "Salary": 25 , "name":'amitesh'}}

In [113]:
# Indexing
emp_data[0]

KeyError: 0

In [114]:
# Slicing

emp_data[0:1]

TypeError: unhashable type: 'slice'

In [117]:
# Concatination
emp_data + emp_data1

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [118]:
# repetation

emp_data*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [120]:
# Identity

a = {1:'a'}
b = {1:'b'}

print(id(a))
print(id(b))

print(a is b)

2243650019584
2243650020672
False

In [ ]:
# membership op
# membership op are only possible on keys

In [124]:
emp_data = {"emp1":{'age': 56 , "Salary": 25 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 25 , "name":'amitesh'},
            'emp3':{'age': 25 , "Salary": 25 , "name":'amitesh'}}
emp_data

{'emp1': {'age': 56, 'Salary': 25, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 25, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 25, 'name': 'amitesh'}}

In [123]:
print(56 in emp_data)

False

In [129]:
emp_data = {"emp1":{'age': 56 , "Salary": 25 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 25 , "name":'amitesh'}, #hsetima
            'emp3':{'age': 25 , "Salary": 25 , "name":'Purnendu'}}

In [127]:
# a[][]

emp_data['emp1'].keys()

dict_keys(['age', 'Salary', 'name'])

In [128]:
emp_data['emp1']['name']

'israr'

In [130]:
emp_data['emp2']['name'][::-1]

'hsetima'

In [131]:
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'},
            'emp4':{'age': 25 , "Salary": 30 , "name":'Purnendu'}}

In [ ]:
# Extact emp whose salary is >25