# For Loop

# Syntax

* for var in iterable:
*     statement1
*     statement2
*     statement3

In [ ]:
# How to identify if datatype is iterable or not

- len function should work on that
- dir(object) it should have __iter__

In [3]:
a = 'string' # iterable
b = 2 # Not iterable
c = [1,2,3,4,5] # iterable


print(len(c))

5

In [6]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [7]:
for i in [1,2,3,4,5]:
    print('Learnbay')

Learnbay
Learnbay
Learnbay
Learnbay
Learnbay

In [ ]:
for iteration 1 i = 1
Learnbay

for iteration 2 i = 2
Learnbay

for iteration 3 i = 3
Learnbay

for iteration 4 i = 4
Learnbay

for iteration 5 i = 5
Learnbay

for iteration 6 
stop

In [8]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [9]:
for i in [1,2,3,4,5]:
    print(i-1)

0
1
2
3
4

In [13]:
for i in 'python':
    print('Learnbay')

Learnbay
Learnbay
Learnbay
Learnbay
Learnbay
Learnbay

In [ ]:
for iteration 1 i = p
Learnbay

for iteration 2 i = y
Learnbay

for iteration 3 i = t
Learnbay

for iteration 4 i = h
Learnbay

for iteration 5 i = o
Learnbay

for iteration 6 i = n
Learnbay

In [16]:
a = [1,2,3,4,'a','b','python']

for i in a:
    print(i)

1
2
3
4
a
b
python

In [17]:
a = [1,2,3,[1,2,3,[2,1,3]]]
for i in a:
    print(i)

1
2
3
[1, 2, 3, [2, 1, 3]]

In [21]:
# Using for loop write a table of 2
# 2 * 1 = 2
# f
a = [1,2,3,4,5,6,7,8,9,10]

for i in a:
    print(f'2 * {i} = {2*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [22]:
a = input("Please enter a string  :")
b  = input("Please enter second string  :")

print(f"the first name is {a} and the second name is {b}")

Please enter a string  :Python
Please enter second string  :learnbay
the first name is Python and the second name is learnbay

In [26]:
a = input("Please enter a string  :")
b  = input("Please enter second string  :")

print("the first name is {} and the second name is {}".format(b,a))

Please enter a string  :python
Please enter second string  :leanbay
the first name is leanbay and the second name is python

In [32]:
# Using for loop write a table of 2
# 2 * 1 = 2
# f
a = [1,2,3,4,5,6,7,8,9,10]

for i in a:
    print('2 * {} = {}'.format(i,i*2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [33]:
a = input("Please enter a string  :")
b  = input("Please enter second string  :")

print("The first name is " + a+ "The Second name is "+ b)

Please enter a string  :python
Please enter second string  :leanbay
The first name is pythonThe Second name is leanbay

In [36]:
# Using for loop write a table given by the user
num = eval(input("Please enter the numbr  :"))
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(f'{num}*{i} = {num*i}')

Please enter the numbr  :9
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81
9*10 = 90

In [43]:
a = [1,2,3,4,5]
b = []
for i in a:
    b.append(i*2)
print(b)

[2, 4, 6, 8, 10]

In [41]:
a = [1,2,3,4,5]
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [45]:
a = [1,2,3,4,5,6]
b = [9,8,7,6,4,5]

# [10,10,10,10,9,11]

c = []
for i in a:
    c.append(a[i-1]+b[i-1])
print(c)

[10, 10, 10, 10, 9, 11]

# List Comprehension 
syntax = [expression for var in iterables if condition]

In [47]:
a = [1,2,3,4,5]
b = [i*2 for i in a]
print(b)

[2, 4, 6, 8, 10]

In [48]:
a = [1,2,3,4,5,6,7,8,9,10]
b = []

# if
# For 
for i in a:
    if i%2 == 0:
        b.append(i)
print(b)

[2, 4, 6, 8, 10]

In [51]:
# List com
a = [1,2,3,4,5,6,7,8,9,10]
b = [i for i in a if i%2 == 0]
print(b)

[2, 4, 6, 8, 10]

In [60]:
# Extract all the usernames and store it in a list

a = ['israr@gmail.com','akash@gmail.com','amitesh@gmail.com','anil@gmail.com','amitesh@gmail.com']

# For Loop
b = []
for i in a:
    b.append(i.split('@')[0])
print(b)


# List compre

a = ['israr@gmail.com','akash@gmail.com','amitesh@gmail.com','anil@gmail.com','amitesh@gmail.com']
b = [i.split('@')[0] for i in a]
print(b)

['israr', 'akash', 'amitesh', 'anil', 'amitesh']
['israr', 'akash', 'amitesh', 'anil', 'amitesh']

In [62]:
a = ['israr@gmail.com','akash@gmail.com','amitesh@gmail.com','anil@gmail.com','amitesh@gmail.com']
b = [i.split('@')[0] for i in a]
print(b)

['israr', 'akash', 'amitesh', 'anil', 'amitesh']

# Tuple

## Anything which is writen in ()

In [63]:
tup = (1,2,3,4)
print(tup)

(1, 2, 3, 4)

In [64]:
tup = (1,2,3,4)
print(type(tup))

<class 'tuple'>

# Creating a tuple
* You already know the elements
* Taking an user input
* Type casting