In [3]:
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'},
            'emp4':{'age': 25 , "Salary": 30 , "name":'Anil'}}

In [5]:
# Extact emp whose salary is >25
for i in emp_data:
    if emp_data[i]['Salary'] > 25:
        print(emp_data[i]['name'])
# amitesh
# purnendu
# Anil

amitesh
Purnendu
Anil

In [14]:
for i in emp_data:
    if emp_data[i]['Salary'] > 25:
        print(emp_data[i]['name'])

amitesh
Purnendu
Anil

In [11]:
emp_data['emp1']['Salary']

23

# Update the dic
* If key is present - The existing will be modified
* If key is not present - It will add the keys

In [15]:
# If the key is present

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'},
            'emp4':{'age': 25 , "Salary": 30 , "name":'Anil'}}

emp_data['emp4'] = {'age': 26 , "Salary": 90 , "name":'Kalyani'}
emp_data

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'},
 'emp4': {'age': 26, 'Salary': 90, 'name': 'Kalyani'}}

In [16]:
# If the key is not present
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

emp_data['emp4'] = {'age': 26 , "Salary": 90 , "name":'Kalyani'}
emp_data

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'},
 'emp4': {'age': 26, 'Salary': 90, 'name': 'Kalyani'}}

In [17]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Methods in dic

# Methods to add and acces the elements from the dic

* Get 
* Setdefault
* Update

In [32]:
# get - If the key is present it'll give you the values

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.get('emp2','Hi'))
emp_data

{'age': 25, 'Salary': 27, 'name': 'amitesh'}

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'}}

In [30]:
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.get('emp7'))
emp_data

None

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'}}

In [31]:
# If key is not present it'll give you None , It can be customised

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.get('emp7',"Error"))
emp_data

Error

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'}}

In [27]:
# Setdefault

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.setdefault('emp3'))
emp_data

{'age': 25, 'Salary': 28, 'name': 'Purnendu'}

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'}}

In [28]:
# Setdefault

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.setdefault('emp10'))
emp_data

None

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'},
 'emp10': None}

In [29]:
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.setdefault('emp10', "Key is not present"))
emp_data

Key is not present

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'},
 'emp10': 'Key is not present'}

In [33]:
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.setdefault('emp4', {'age': 25 , "Salary": 28 , "name":'anil'}))
emp_data

{'age': 25, 'Salary': 28, 'name': 'anil'}

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'},
 'emp4': {'age': 25, 'Salary': 28, 'name': 'anil'}}

In [34]:
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.setdefault('emp3', {'age': 24 , "Salary": 30 , "name":'anil'}))
emp_data

{'age': 25, 'Salary': 28, 'name': 'Purnendu'}

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'}}

In [56]:
# Update
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

emp_data1 = {"emp4":{'age': 56 , "Salary": 23 , "name":'israr'}}

print(emp_data.update(emp_data1))
emp_data

None

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'},
 'emp4': {'age': 56, 'Salary': 23, 'name': 'israr'}}

In [41]:
a = [1,2,3,4]
b = [5,6,7,9]
a.append(b)
a

[1, 2, 3, 4, [5, 6, 7, 9]]

In [47]:
a = [1,2,3,4]
b = [5,6,7,9]

c = a+b
print(a)
print(c)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 9]

In [50]:
a = [1,2,3,4]
b = [5,6,7,9]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 9]

In [51]:
a

[1, 2, 3, 4, 5, 6, 7, 9]

In [53]:
emp_data

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'},
 'emp3': {'age': 25, 'Salary': 28, 'name': 'Purnendu'},
 'emp4': {'age': 56, 'Salary': 23, 'name': 'israr'}}

# Methods to remove the elements from the dic
* pop
* popitem

In [57]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [58]:
# Pop If the key is present
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.pop('emp3'))
emp_data

{'age': 25, 'Salary': 28, 'name': 'Purnendu'}

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'}}

In [60]:
# Pop If the key is not present

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.pop('emp4'))
emp_data

KeyError: 'emp4'

In [64]:
# Popitem 
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.popitem())
emp_data

('emp3', {'age': 25, 'Salary': 28, 'name': 'Purnendu'})

{'emp1': {'age': 56, 'Salary': 23, 'name': 'israr'},
 'emp2': {'age': 25, 'Salary': 27, 'name': 'amitesh'}}

In [65]:
# Popitem 
emp_data = {}

print(emp_data.popitem())
emp_data

KeyError: 'popitem(): dictionary is empty'

In [66]:
# method to check the keys

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.keys())

dict_keys(['emp1', 'emp2', 'emp3'])

In [68]:
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.keys())

dict_keys(['emp1', 'emp2', 'emp3'])

In [70]:
emp_data['emp1'].keys()

dict_keys(['age', 'Salary', 'name'])

In [79]:
# method to check the value

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data.values())

dict_values([{'age': 56, 'Salary': 23, 'name': 'israr'}, {'age': 25, 'Salary': 27, 'name': 'amitesh'}, {'age': 25, 'Salary': 28, 'name': 'Purnendu'}])

In [93]:
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

emp_data['emp3'].values()

dict_values([25, 28, 'Purnendu'])

In [102]:
# method to check the items

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'age': 25 , "Salary": 27 , "name":'amitesh'}, 
            'emp3':{'age': 25 , "Salary": 28 , "name":'Purnendu'}}

print(emp_data['emp1'].items())

dict_items([('age', 56), ('Salary', 23), ('name', 'israr')])

In [103]:
for j,i in emp_data['emp1'].items():
    print(i)
#    print(j)

56
23
israr

In [106]:
for i,j in emp_data.items():
    print(i)
    print(j)

emp1
{'age': 56, 'Salary': 23, 'name': 'israr'}
emp2
{'age': 25, 'Salary': 27, 'name': 'amitesh'}
emp3
{'age': 25, 'Salary': 28, 'name': 'Purnendu'}

In [ ]:
print(dir(dict))

In [110]:
# method to check the items

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'asd': 25 , "sdf": 27 , "name":'amitesh'}, 
            'emp3':{'fdgdf': 25 , "dfgd": 28 , "name":'Purnendu'}}

# print(emp_data['emp1'].items())

for i,j in emp_data.items():
    print(j.keys())

dict_keys(['age', 'Salary', 'name'])
dict_keys(['asd', 'sdf', 'name'])
dict_keys(['fdgdf', 'dfgd', 'name'])

In [ ]:
# Dict compres
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'asd': 25 , "sdf": 27 , "name":'amitesh'}, 
            'emp3':{'fdgdf': 25 , "dfgd": 28 , "name":'Purnendu'}}

emp_data{}

In [112]:
emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'asd': 25 , "sdf": 27 , "name":'amitesh'}, 
            'emp3':{'fdgdf': 25 , "dfgd": 28 , "name":'Purnendu'}}

# print(emp_data['emp1'].items())

for i in emp_data.items():
    print(i)

('emp1', {'age': 56, 'Salary': 23, 'name': 'israr'})
('emp2', {'asd': 25, 'sdf': 27, 'name': 'amitesh'})
('emp3', {'fdgdf': 25, 'dfgd': 28, 'name': 'Purnendu'})

In [ ]:
# Syntax

#{Key:value for var in iterable if condition}

In [115]:
# clear()
emp_data.clear()
emp_data

{}

In [116]:
del emp_data

In [117]:
emp_data

NameError: name 'emp_data' is not defined

In [118]:
for i,j in [(1,2),(5,7),(8,9)]:
    print(i*5 , j *20)
    
# 5 40
# 25 140
# 40 180

5 40
25 140
40 180

In [119]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [120]:
# fromkeys - Create a new dic  with keys and default value is none
d2 = dict.fromkeys([1,2,3,4,5])
d2

{1: None, 2: None, 3: None, 4: None, 5: None}

In [125]:
d2 = dict.fromkeys([1,2,3,4,5],['i','e','q','a','d'])
d2

# 1:23

{1: ['i', 'e', 'q', 'a', 'd'],
 2: ['i', 'e', 'q', 'a', 'd'],
 3: ['i', 'e', 'q', 'a', 'd'],
 4: ['i', 'e', 'q', 'a', 'd'],
 5: ['i', 'e', 'q', 'a', 'd']}

In [124]:
d2[5] = 10
d2

{1: (1, 2, 3), 2: (1, 2, 3), 3: (1, 2, 3), 4: (1, 2, 3), 5: 10}

In [129]:
# Syntax

#{Key:value for var in iterable if condition}

a = {i:j*2 for i,j in [(1,2),(5,7),(8,9)]}
print(a)

{1: 4, 5: 14, 8: 18}

In [130]:
a = {i:i*2 for i in [1,2,3]}
a

{1: 2, 2: 4, 3: 6}

In [ ]:
for iter 1 i = 1

In [131]:
# Range 
* Start is inclusive
* stop is exclisive

* By defalt it'll start from 0
* By default the step is 1

In [143]:
# 
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [146]:
for i in range(1,10,2):
    print(list(i))

TypeError: 'int' object is not iterable

In [145]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
# Set, Conditional statement