In [ ]:
my_dict = {
    "1":"One",
    '2':"Two",
    '3':"Three",
    '4':"Four",
    '5':"five"
}
i = '6'
for k,l in my_dict.items():
    if i in k:
        print(my_dict[i])
        break
        
else: 
        print("invalid")

In [ ]:
i = 11 # Initilization
while i < 10: # condition
    print('statement')
    i+=1 # inc/dec
else: print('give valid number')

In [ ]:
# pass 
s = 'student'
for i in s:
    if i == 'u':
        print('pass executed')
        pass
    print(i)

In [ ]:
for i in range(6): 
    if i == 1:
        pass
        print('dsa')
    print(i)

In [ ]:
a = 'python'
i = 0 #
while i < 6:# 
    if i >= 3:
        pass
    print(a[i]*(i+1))
    i += 1

# Functions

In [ ]:
str1 = 'abc'
# Task 1
if str1 == str1[::-1]:
    print('Yes')
else: print('No')
    
# Task 2
num_1 = 10
num_2 = 20
print(num_1+num_2)

# Task 3 
str1 = 'xyz'
if str1 == str1[::-1]:
    print('Yes')
else: print('No')

In [ ]:
def sum1():
    print(10+20)

In [ ]:
sum1()

In [ ]:
# Function
- function defination - we define the code that we want 
- function call - we execute the function


sysntax- 
def func_name(parameter):
    state 1
    stat 2
    return stat 3

# The thigs which are optional
* parameters 
* return

# Function call
fuct_name(parameter)

In [ ]:
def palindrome():
    str1 = input('Please enter the string')
    if str1 == str1[::-1]:
        print('Yes')
    else: print('No')

In [ ]:
palindrome()

In [ ]:
def sub():
    print(20-10)

In [ ]:
sub()

In [ ]:
def sum1(a,b, c = 4):
    print(a+b+c)

In [ ]:
sum1(10,20)

In [ ]:
list(range(10,15))

# Types of arguments 

1. positional argument
  - The order is important
  - num of arg should match with the number of parameters.

In [ ]:
def emp_info(emp_name , emp_salary, emp_age):
    print(emp_name)
    print(emp_salary)
    print(emp_age)

emp_info('israr', 'zero',25 )

In [ ]:
def emp_info(emp_name , emp_salary, emp_age):
    print(emp_name)
    print(emp_salary)
#    print(emp_age)

emp_info(25, 'zero','israr' )

In [ ]:
def emp_info(emp_name , emp_salary, emp_age):
    print(emp_name)
    print(emp_salary)
    print(emp_age)

emp_info('israr', 'zero' )

2. default arguments 
 - It is used to keep any values as default
 - Parameter passing for the default arg is optional (Pass only if you need to change it)
 - You can change the position of the default values only after passing the required parameters

In [ ]:
def emp_info(emp_name , emp_salary, emp_age, emp_location='Bangalore' ):
    print(emp_name)
    print(emp_salary)
    print(emp_age)
    print(emp_location)

emp_info('israr', 'zero',35 )

In [ ]:
def emp_info(emp_name , emp_salary, emp_age, emp_location='Bangalore' ):
    print(emp_name)
    print(emp_salary)
    print(emp_age)
    print(emp_location)

emp_info('israr', 'zero',35 )

In [ ]:
a = list([1,2,3,4,5])
a[2] = 7

In [ ]:
print(emp_info('amitesh', 600000, 25, emp_location = 'Kerala'))

In [ ]:
print(emp_info('amitesh', 600000, 25,'kerala' ))

# keyword arguments

In [ ]:
def emp_info(emp_name , emp_salary, emp_age, emp_location='Bangalore', emp_pin = 560032 ):
    print(emp_name)
    print(emp_salary)
    print(emp_age)
    print(emp_location)
    print(emp_pin)

emp_info('israr', 'zero',35 )

* Important note - If there is a combination of positional argument and default argument
* Then the positional arguments should be followed by default

In [ ]:
def emp_info(emp_name , emp_salary, emp_age, emp_location='Bangalore', emp_pin = 560032 ):
    print(emp_name)
    print(emp_salary)
    print(emp_age)
    print(emp_location)
    print(emp_pin)

emp_info(emp_pin = 655656, 'israr', 'zero',35 , emp_location='mumbai')

In [ ]:
def emp_info(emp_name , emp_salary, emp_age, emp_location='Bangalore', emp_pin = 560032 ):
    print(emp_name)
    print(emp_salary)
    print(emp_age)
    print(emp_location)
    print(emp_pin)

emp_info('israr',emp_salary = 'zero',44, emp_pin = 57575 , emp_location='mumbai')

In [ ]:
def emp_info(emp_name , emp_salary, emp_age, emp_location='Bangalore', emp_pin = 560032 ):
    print(emp_name)
    print(emp_salary)
    print(emp_age)
    print(emp_location)
    print(emp_pin)

emp_info('israr', 'zero', 35 , emp_pin = 65565, emp_location='mumbai')

In [ ]:
def emp_info(emp_name , emp_salary, emp_age, emp_location='Bangalore', emp_pin = 560032 ):
    pass
    print(emp_name)
    print(emp_salary)
    print(emp_age)
    print(emp_location)
    print(emp_pin)

emp_info('israr', 'zero', 35 , emp_location = 'kerala', emp_pin = 879)

In [ ]:
emp_info('safdsd','sdfs',43)

In [1]:
x = 10 
y = 20

def sum1(a,b):
    c = a+b
    d = x+y
    print(d)
    print(c)
    print(a)
    print(b)
sum1(40,30)

print(x)
print(y)
print(a)
print(b)
print(c)
print(d)

# 30
# 70
# 40
# 30
# 10
# 20

30
70
40
30
10
20

NameError: name 'a' is not defined

In [ ]:
# Return_map reduce filter_ enumerate