# Set data type

* Colection of values and it is not a seq
* indexing and slicing is not possible
* Collection of unique values 
* mutable
* Cannot contain a list

In [6]:
a = {1,2,3,4,5}
print(a, type(a))

{1, 2, 3, 4, 5} <class 'set'>

In [4]:
a = {1,2,2,2,2,3,3,3,4,5,5,5,5,5} # 14
print(a, type(a))

{1, 2, 3, 4, 5} <class 'set'>

In [5]:
len(a)

5

In [7]:
a[0]

TypeError: 'set' object is not subscriptable

In [8]:
a = {1,2,3,4,[1,2,3,4]}
print(a, type(a))

TypeError: unhashable type: 'list'

In [10]:
print(dir(a))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [40]:
a = {1,2,3,4,5}
print(a.add('add'))
print(a)

None
{1, 2, 3, 4, 5, 'add'}

In [20]:
a = {'abc', None , True, 1, 0, False, 1.1 , 10+6j}
a

{(10+6j), 0, 1.1, None, True, 'abc'}

In [15]:
a = {1,2,9,4,5}
a

{1, 2, 4, 5, 9}

In [21]:
a = {10,20,50,30,40}
print(a)

{50, 20, 40, 10, 30}

In [18]:
True == 1

True

In [45]:
# Find the unique keys for emp1,2,3 are present

emp_data = {"emp1":{'age': 56 , "Salary": 23 , "name":'israr'}, 
            "emp2":{'asd': 25 , "sdf": 27 , "name":'amitesh'}, 
            'emp3':{'fdgdf': 25 , "dfgd": 28 , "name":'Purnendu'}}
tup = ()
for i,j in emp_data.items():
    tup = j.items()
    print(tup)
    
b = str(tup)

b

dict_items([('age', 56), ('Salary', 23), ('name', 'israr')])
dict_items([('asd', 25), ('sdf', 27), ('name', 'amitesh')])
dict_items([('fdgdf', 25), ('dfgd', 28), ('name', 'Purnendu')])

"dict_items([('fdgdf', 25), ('dfgd', 28), ('name', 'Purnendu')])"

# Conditional statements

In [ ]:
# If 

stat1 
stat 2 
stat 3
if condition
   stat 4  # True 
   stat 5
stat 6
stat 7
    
If condition true - 1,2,3,4,5,6,7
If the condiition is false - 1,2,3,6,7

In [ ]:
# If  else 

stat1 
stat 2 
stat 3
if condition:
   stat 4  # True 
   stat 5
else 
     stat 6
     stat 7
stat 8
stat 9
    
If condition true - 1,2,3,4,5,8,9
If the condiition is false - 1,2,3,6,7,8,9

In [ ]:

stat 1 
stat 2 
stat 3
if condition1:
   stat 4  # True 
   stat 5
if condition2:
   stat 6  # True 
   stat 7
if condition3:
   stat 8  # True 
   stat 9
else 
     stat 10
     stat 11
stat 12
stat 13
    
if condition 1 is true and all are false - 1,2,3,4,5,10,11,12,13
if condition 1 and 2 are true and all are false - 1,2,3,4,5,6,7,10,11,12,13
if all conditions are false - 1,2,3,10,11,12,13
if conditions 1 2 3 are true - 1,2,3,4,5,6,7,8,9,12,13

In [ ]:
# elif 

stat 1 
stat 2 
stat 3
if condition1:
   stat 4  # True 
   stat 5
elif condition2:
   stat 6  # True 
   stat 7
elif condition3:
   stat 8  # True 
   stat 9
else 
     stat 10
     stat 11
stat 12
stat 13
    
if condition 1,2 are true and the rest is false -1,2,3,4,5,

In [52]:
a = 20
b = 50
if a<b:
    print("stat 4")
elif a == b:
    print('stat6')
elif a>b:
    print("stat8")
else: 
    print('something')
print('stat12')

stat 4
stat12

In [57]:
a = 20 # if 1 is true 2nd and 3rd is false
b = 50
if a<b: 
    print("stat 4") #1
if a > b:
    print('stat6') # 0
if a<b:
    print("stat8") # 0
else: 
    print('something') #1
print('stat12') # 1
# 8,10,11

stat 4
stat8
stat12

In [65]:
# and 
a = 200
b = 100
c = 700

if a>b and c >a and b==c :  #True and True  # True
    print('Yes')
else:
    print('No')
print('random')

No
random

In [60]:
False and False

False

In [75]:
# or
a = 200
b = 100
c = 700

if a==b or c==a or a>b:  #True and True 
    print('Yes')
else:
    print('No')
print('random')

Yes
random

In [74]:
False or False or True

True

In [77]:
x = 2
if x < 10:# True
    print('Hola') # 1
    if x >20: # False
        print('Purnendu') # 0
    else:
        print('anything') # 1
else:
    print('barcelona') #0
print('some') #1

Hola
anything
some

In [85]:
# You have to take an number from 1-5 and convert it into word 

a = eval(input("Please enter the number   :"))
if a>5 or a<1:
    print('Invalid number')
else:
    if a==1:
        print('one')
    elif a==2:
        print('two')
    elif a==3:
        print('Three')
    elif a ==4:
        print('four')
    else:
        print('five')

Please enter the number   :1.1
five

In [80]:
# 
var = eval(input('Please enter number 1 to 5: '))
if var == 1:
    print('ONE')
elif var == 2:
    print('TWO')
elif var == 3:
    print('THREE')
elif var == 4:
    print('FOUR')
elif var == 5:
    print('FIVE')
else:
    print('Enter number between 1 to 5 only')

Please enter number 1 to 5: 1.1
Enter number between 1 to 5 only

In [88]:
# Write a program to check if the string is palindrom or not

a = input('Enter the string  :').lower()
if a == a[::-1]:
    print('Its a palindrom')
else: 
    print('Its not a palindrom')

Enter the string  :Rotor
Its a palindrom

In [ ]:
# For work
a = [0-9]
b = ['zero'-'nine']

In [104]:
a=str(input('please enter string:'))

#len(a)
if(a[0:len(a)]==a[len(a)::-1]):
    print('palindrome')
else:
    print('no')

please enter string:level
palindrome

In [94]:
a = 'level'
print(a[0:len(a)])

level

In [100]:
a = 'israr'
print(a[len(a)::-1])

rarsi

In [ ]:
# Design me a calculator
# a,b +-