# Float

* Any value with the decimal point is a float number

In [1]:
a = 10.2
print(type(a))

<class 'float'>

In [ ]:
# Operations possible on floats 
- Arithmetic operations 
- Comparision operations
- Logical Operations
- Equality operations
- Asssignment operation expept bitwise
- Identity operators

# Operations Not possible with floats
- bitwise 

# Object resuability is not possibe

In [3]:
# Example
a = 10.20
b = 20
a|b

TypeError: unsupported operand type(s) for |: 'float' and 'int'

# Complex data types

* Any value that can be represented in the form of a+bj where a is real and b is ima


### The output of .real will always be in float

In [8]:
a = 6+7j
print(a)
print(type(a))

(6+7j)
<class 'complex'>

In [11]:
a = 6+7j

print(a.real)
print(a.imag)

6.0
7.0

In [ ]:
# Operations possible on complex

- Arithmetic operations except modulo, floor
- Logical Operations 
- Equality operations
- Asssignment operation
- Identity operators

# Operations Not possible with complex
- Comparision operators 

# Object resuability is not possibe

In [17]:
8+6j and 7+8j

(7+8j)

# None data types

* None is used to represent a misssing valuw

In [ ]:
emp_name     emp_id     emp_sal        Atte

abc          None          100000       1
pqr           123          200000       0
xyz           124          None         1

# Boolean Data types

- True also means 1
- False also means 0

In [19]:
False == 0

True

In [20]:
# True ----> 1
True + True

2

In [21]:
True + True + False + True   # 3

3

In [25]:
# int 
#- 0 is False and the rest are true
print(bool(0))

# float 
# - 0.0 is false and the rest are true
print(bool(25.5))
print(bool(0.00000000))

# complex 
# - 0.0j is false and the rest are true
print(bool(0+0.00005j))

# None 
# bool of None is always false
print(bool(None))


# Derived data types 
# list, tuple, set and dic is false if they are empty

False
True
False
True

# Type casting

* converting the data types of the variable

1. int()
2. float()
3. str()
4. bool()
5. complex()


Shortcut 
* eval()

In [28]:
a = 10

print(type(a))

<class 'int'>

In [29]:
# 1 st way
a = 1

print(a)  #
print(float(a))   #1.0
print(a)  # 1

1
1.0
1

In [30]:
# 2nd  way
a = float(1)

print(a)  #

1.0

In [36]:
a = '123'

print(type(a))
print(type(int(a)))
print(type(a))

<class 'str'>
<class 'int'>
<class 'str'>

In [37]:
a = 1.45
print(type(str(a)))

<class 'str'>

In [38]:
a = '1.2'  # 
print(int(a))

ValueError: invalid literal for int() with base 10: '1.2'

In [41]:
a = '123a' # Cannot use special characters and alphabets with int
print(int(a))

ValueError: invalid literal for int() with base 10: '123a'

In [42]:
a = '1.2'  
print(float(a))

1.2

In [44]:
# eval

a = '1.2'  # 
print(type(eval(a)))

<class 'float'>

In [45]:
a = '10+9j'

print(type(eval(a)))

<class 'complex'>

In [46]:
a = 123

print(type(a))
print(type(str(a)))
print(type(a))

<class 'int'>
<class 'str'>
<class 'int'>

In [48]:
a = 6

print(type(a))
print(type(bool(a)))
print(type(a))

<class 'int'>
<class 'bool'>
<class 'int'>

In [51]:
a = 10

print(complex(a))

(10+0j)

# Input and Output functions in python

* It is used to take input from the user
* Input function will always give the string data type

In [54]:
a = int(input('Please enter your number  '))

print('******')
print(a)

Please enter your number  999999999
******
999999999

In [56]:
a = float(input('Please enter your number  '))

print('******')
print(a)

Please enter your number  4.56
******
4.56

In [59]:
a = input('please enter a number   ')


print(a)
print(type(a))

please enter a number   6654151.5216515
6654151.5216515
<class 'str'>

In [60]:
a = complex(input('please enter a number   '))


print(a)
print(type(a))

please enter a number   1
(1+0j)
<class 'complex'>

# Eval()
* It automatically converts the data type

In [75]:
# 

a = eval(input('Enter the 4 digit pin '))      # Not int 
b = eval(input('Enter the last 2 digit of your number  '))

print(a+b)

Enter the 4 digit pin 1.1
Enter the last 2 digit of your number2+5j
(3.1+5j)

In [74]:
a = eval(input('please enter a number   '))

print(a)
print(type(a))

please enter a number   0.9+85j
(0.9+85j)
<class 'complex'>

# Output function
* print()

10\n20\n30

In [76]:
a = 10
b = 20
c = 30

print(a)
print(b)
print(c)

10
20
30

In [77]:
a = 20
print(a, end ='*****')

20*****

In [82]:
a = 10
b = 20
c = 30

print(a, end ='\t')
print(b)
print(c)

10	20
30

In [92]:
a = 10
b = 20
c = 30

print(a,b,c , sep = '***')

# end - how to end the line
# sep - adds seperation between variable

10***20***30

In [90]:
a = 10
b = 20
c = 30
d = 40
e = 50

print(a,b , sep = '++++' , end = '----')
print(c , end = '\n')
print(d , end = '######')
print(a,b,e, sep = '%%%%%', end = '$$$$')

10++++20----30
40######10%%%%%20%%%%%50$$$$

10++++20----30
40####10%%%%20%%%%50$$$$$